main {
	display: grid;
	grid-template-areas: "shedule notifications notifications" 
						 "shedule links group"
						 "menu menu group";
	grid-template-columns: 5fr 3fr 2fr;
	grid-template-rows: 140px 180px 320px;
	gap: 10px;
	margin: 24px 0;
	padding: 0 10px;
	width: calc(100vw - 20px);
	max-width: 1480px;
	height: auto;
	section {
		display: flex;
		padding: 4px;
		height: calc(100% - 8px);
		background: #ffffff;
		box-shadow: 0 0 3px -2px #000000;
	}
}

div.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: calc(100vw - 20px);
	max-width: 1480px;
	height: 100%;
}

section.shedule {
	grid-area: shedule;
}

section.notifications {
	grid-area: notifications;
}

section.links {
	grid-area: links;
}

section.group {
	grid-area: group;
}

section.menu {
	grid-area: menu;
	background: none;
	box-shadow: none;
}